@if (
	{ duelState: duelState$ | async, duelLoading: duelLoading$ | async };
	as data
) {
	<header>
		<h1>{{ title }}</h1>
		<app-resource-select></app-resource-select>
		<app-play-button [disabled]="data.duelLoading"></app-play-button>
	</header>
	<main>
		<app-duel-result
			[loading]="data.duelLoading"
			[results]="data.duelState?.duelsResults"></app-duel-result>
		<section class="cards">
			@if (data.duelState) {
				<app-card
					[player]="'Player 1'"
					[playerWins]="data.duelState.playerOneWins"
					[resource]="data.duelState.duelsData[0]"
					[result]="data.duelState.duelsResults?.[0]"
					[loading]="data.duelLoading"></app-card>
				<app-card
					[player]="'Player 2'"
					[playerWins]="data.duelState.playerTwoWins"
					[resource]="data.duelState.duelsData[1]"
					[result]="data.duelState.duelsResults?.[1]"
					[loading]="data.duelLoading"></app-card>
			}
		</section>
	</main>
	<footer>Paweł Wnuk &copy; 2024</footer>
}
