.results {
	font-size: 2rem;
	font-weight: bold;

	opacity: 0;

	&.loaded {
		animation: fadeIn .5s ease-in-out 0s alternate both;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}